@model IEnumerable<InsurenceWebApp.Models.Insurance>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-primary text-lg-center mt-4 pt-4 mb-4 pb-4 border-top border-bottom border-2 border-dark bg-primary bg-gradient bg-opacity-10">Soupis pojistných smluv</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope ="col" class="col-2">
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th scope="col" class="col-2">
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>
            <th scope="col" class="col-2">
                @Html.DisplayNameFor(model => model.MonthPayment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.ContractType)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthPayment)
            </td>
            <td class="col-6">
                <a class="btn btn-primary me-3" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-primary me-3" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="ClientZone">Back</a>