@model InsurenceWebApp.Models.MyUser

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary text-lg-center mt-4 pt-4 mb-4 pb-4 border-top border-bottom border-2 border-dark bg-primary bg-gradient bg-opacity-10">Detail uživatele</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2 border-1 border-bottom">
            <h5 class="text-primary">Jméno</h5> @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>
        <dd class = "col-sm-10 border-1">
            <h5 class="text-primary">@Html.DisplayFor(model => model.Name)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom">
            <h5 class="text-primary ">Přijmení</h5> @*@Html.DisplayNameFor(model => model.SurName)*@
        </dt>
        <dd class = "col-sm-10">
            <h5 class="text-primary "> @Html.DisplayFor(model => model.SurName)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom">
            <h5 class="text-primary ">Datum Narození</h5> @*@Html.DisplayNameFor(model => model.BirthDate)*@
        </dt>
        <dd class = "col-sm-10">
            <h5 class="text-primary ">@Html.DisplayFor(model => model.BirthDate)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom">
            <h5 class="text-primary ">Věk</h5> @*@Html.DisplayNameFor(model => model.Age)*@
        </dt>
        <dd class = "col-sm-10">
            <h5 class="text-primary ">@Html.DisplayFor(model => model.Age)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom">
            <h5 class="text-primary ">Město</h5>@*@Html.DisplayNameFor(model => model.City)*@
        </dt>
        <dd class = "col-sm-10">
            <h5 class="text-primary ">@Html.DisplayFor(model => model.City)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom">
            <h5 class="text-primary ">Ulice</h5>@*@Html.DisplayNameFor(model => model.Street)*@
        </dt>
        <dd class = "col-sm-10">
            <h5 class="text-primary ">@Html.DisplayFor(model => model.Street)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom">
            <h5 class="text-primary ">Č. popisné</h5> @*@Html.DisplayNameFor(model => model.ReferenceNumber)*@
        </dt>
        <dd class = "col-sm-10">
            <h5 class="text-primary ">@Html.DisplayFor(model => model.ReferenceNumber)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom">
            <h5 class="text-primary ">Telefoní číslo</h5> @*@Html.DisplayNameFor(model => model.TelephoneNumber)*@
        </dt>
        <dd class = "col-sm-10">
            <h5 class="text-primary ">@Html.DisplayFor(model => model.TelephoneNumber)</h5>
        </dd>
        <dt class="col-sm-2 border-1 border-bottom">
            <h5 class="text-primary ">Email</h5> @*@Html.DisplayNameFor(model => model.Email)*@
        </dt>
        <dd class = "col-sm-10">
            <h5 class="text-primary ">@Html.DisplayFor(model => model.Email)</h5>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary me-3" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
