@model IEnumerable<InsurenceWebApp.Models.MyUser>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger text-lg-center mt-4 pt-4 mb-4 pb-4 border-top border-bottom border-2 border-dark bg-secondary bg-gradient bg-opacity-10">Soupis pojištěnců</h1>


<p>
    <a class="btn btn-primary" asp-controller="MyUser" asp-action="Create">Přidat uživatele</a>
</p>
<table class="table table-hover border-3 border-top border-start border-bottom border-end">
    <thead>
        <tr>
            <th>
                <h5 class="text-primary">Jméno</h5> @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                <h5 class="text-primary ">Přijmení</h5> @*@Html.DisplayNameFor(model => model.SurName)*@
            </th>
            <th>
                <h5 class="text-primary ">Datum Narození</h5> @*@Html.DisplayNameFor(model => model.BirthDate)*@
            </th>
            <th>
                <h5 class="text-primary ">Věk</h5> @*@Html.DisplayNameFor(model => model.Age)*@
            </th>
            <th>
                <h5 class="text-primary ">Město</h5> @*@Html.DisplayNameFor(model => model.City)*@
            </th>
            <th>
                <h5 class="text-primary ">Ulice</h5> @*@Html.DisplayNameFor(model => model.Street)*@
            </th>
            <th>
                <h5 class="text-primary ">Č. popisné</h5> @*@Html.DisplayNameFor(model => model.ReferenceNumber)*@
            </th>
            <th>
                <h5 class="text-primary ">Telefoní číslo</h5> @*@Html.DisplayNameFor(model => model.TelephoneNumber)*@
            </th>
            <th>
                <h5 class="text-primary ">Email</h5> @*@Html.DisplayNameFor(model => model.Email)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="border-1">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="border-1">
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td class="border-1">
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td class="border-1">
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td class="border-1">
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td class="border-1">
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td class="border-1">
                @Html.DisplayFor(modelItem => item.ReferenceNumber)
            </td>
            <td class="border-1">
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td class="border-1">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="border-1">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Upravit</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detaily</a> 
                <a class="btn btn alert-danger" asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="ClientZone">Zpět</a>